<!DOCTYPE html> 
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>portfolio</title>
    <link rel="manifest" href="static/manifest/manifest.webmanifest" />
    <link rel="apple-touch-icon" sizes="180x180" href="media/icon-192x192.png">
    <link rel="stylesheet" href="static/CSS/portfolio.css">
    <link rel="stylesheet" href="static/slick/slick.css">
    <link rel="stylesheet" href="static/slick/slick-theme.css">
    <script>
        window.addEventListener('load', function () {
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register("static/JS/sw.js")
                    .then(function (registration) {
                        console.log("serviceWorker registed.");
                    }).catch(function (error) {
                        console.warn("serviceWorker error.", error);
                    });
            }
        });
    </script>
</head>
<body>
    <div class="loader-bg">
        <div class="loader"></div>
    </div>
    <header id="home">
        <h1><a id="link" href="{{ url_for('portfolio') }}" onclick="scrollToTop();"><strong>Portfolio</strong></a></h1>
        
        <!--　　　　　〇　　　　　-->
        
        <div class="hamburger"> <!--  〇  -->
            <div class="btn">
                <i></i>
                <i></i>
                <i></i>
            </div>  
            <div class="block">
                <div class="list">
                    <h1><a class="link_top" id="link_top" href="{{ url_for('portfolio') }}" onclick="scrollToTop();"><strong>Portfolio</strong></a></h1>
                </div>
            </div>   
        </div>
    </header>

    <img class="top" src="media/IMG_6171.jpg" alt="" style="width: 100%;">


<!--　　　　　〇　　　　　-->
<h2 class="subtitle" id="service">〇</h2>

<div class="service">
    <div class="topic">
        <div class="detail">
           
            <p>
            <img src="media/docker_me4.jpg" alt="docker_me1.jpg" style="width: 100%;">
            <img src="media/docker_me1.jpg" alt="docker_me2.jpg" style="width: 100%;">
            <img src="media/docker_me2.jpg" alt="docker_me3.jpg" style="width: 100%;">
            <img src="media/docker_me3.jpg" alt="docker_me3.jpg" style="width: 100%;">
            <img src="media/docker_me5.jpg" alt="docker_me3.jpg" style="width: 100%;">
            </p>
            <br>
            <p>〇。</p>

            <h1>〇</h1>
            <p>〇。〇。〇。〇。</p>
            <br>

            <h2>〇</h2>
            <a href="https://github.com/isdlyusukeshimizu/docker_lecture">https://github.com/isdlyusukeshimizu/docker_lecture</a>
            <br><br>
            <h2>〇</h2><br>
            <p>〇。
                〇。
                〇。
                〇！
                （〇笑）</p>
            <br>
            <h2>〇</h2><br>
            <p>〇。
                〇．
                〇．


                <ul>
                    <li>〇
                        <ul>
                            <li>〇</li>
                            <li>〇</li>
                        </ul>
                    </li>
                    <li>〇
                        <ul>
                            <li>〇</li>
                            <li>〇</li>
                        </ul>
                    </li>
                    <li>〇
                        <ul>
                            <li>〇</li>
                            <li>〇</li>
                        </ul>
                    </li>
                </ul>
                
            </p>

            <br>
            <h2>〇</h2><br>
            <p>

                <ul>
                    <li>〇</li>
                    <li>〇</li>
                </ul>


                <img src="media/docker1.png" alt="docker1.png" style="width: 100%;">

            </p>

            <br>
            <h2>〇</h2><br>
            <p>
                <ul>
                    <li>〇
                        <ul>
                            <li>〇</li>
                            <li>〇</li>
                            <li>〇</li>
                        </ul>
                    </li>
                    <li>〇
                        <ul>
                            <li>〇</li>
                        </ul>
                    </li>
                </ul>
                

                <img src="media/docker2.png" alt="docker2.png" style="width: 100%;">
            </p>

            <br>
            <h2>〇</h2>
            <p>
                <ul>
                    <li>〇
                        <ul>
                            <li>〇</li>
                            <li>〇</li>
                        </ul>
                    </li>
                    <li>〇
                        <ul>
                            <li>〇</li>
                            <li>〇</li>
                        </ul>
                    </li>
                </ul>    
                <img src="media/docker3.png" alt="docker1.png" style="width: 100%;">            
            </p>

            <br>
            <h2>〇</h2><br>
            <p>
                <ul>
                    <li>〇</li>
                    <li>〇</li>
                </ul>
                <img src="media/docker4.png" alt="docker1.png" style="width: 100%;">
            </p>

            <br>
            <h2>〇</h2><br>
            <p>
                <ul>
                    <li>〇
                        <ul>
                            <li>〇</li>
                            <li>〇</li>
                        </ul>
                    </li>
                    <li>〇
                        <ul>
                            <li>〇</li>
                            <li>〇</li>
                        </ul>
                    </li>
                    <li>〇
                        <ul>
                            <li>〇</li>
                        </ul>
                    </li>
                    <li>〇
                        <ul>
                            <li>〇</li>
                            <li>〇</li>
                        </ul>
                    </li>
                </ul>                
            </p>

            <br>
            <h2>〇</h2><br>
            <p>
                <ul>
                    <li>〇</li>
                    <li>〇</li>
                    <li>〇
                        <ul>
                            <li>〇</li>
                        </ul>
                    </li>
                    <li>〇
                        <ul>
                            <li>〇</li>
                        </ul>
                    </li>
                </ul>
                〇            
            </p>

            <br>
            <h2>〇</h2><br>
            <p>
                <ul>
                    <li>〇</li>
                    <li>〇</li>
                    <li>〇</li>
                    <li>〇
                        <ul>
                            <li>〇</li>
                            <li>〇</li>
                            <li>〇</li>
                            <li>〇</li>
                        </ul>
                    </li>
                    <li>〇
                        <ul>
                            <li>〇</li>
                            <li>〇</li>
                        </ul>
                    </li>
                </ul>
                
            </p>

            <br>
            <h1>〇</h1>
            <h2>〇</h2><br>
            <p>
                <ul>
                    <li>〇</li>
                    <li>〇</li>
                    <li>〇</li>
                    <li>〇</li>
                    <li>〇</li>
                </ul>
                <img src="media/docker_demo.jpg" alt="docker1.png" style="width: 100%;">
                <img src="media/docker7.png" alt="docker1.png" style="width: 100%;">
            </p>

            <br>
            <h2>〇</h2><br>
            <p>
                <img src="media/docker8.png" alt="docker1.png" style="width: 100%;">
                <img src="media/docker9.png" alt="docker1.png" style="width: 100%;">
            </p>

            <br>
            <h2>〇</h2>
            <p>
                <ul>
                    <li>〇
                        <ul>
                            <li>〇</li>
                        </ul>
                    </li>
                    <li>〇</li>
                </ul> 
                <img src="media/docker10.png" alt="docker10.png" style="width: 100%;">               
            </p>
            

            <br>
            <h2>〇</h2>
            <p>
                <ol>
                    <li>〇</li>
                    <ul>
                        <li>〇　golang:1.18.3-alpine</li>
                    </ul>
                    <li>〇</li>
                    <ul>
                        <li>〇　apk update</li>
                    </ul>
                    <li>〇</li>
                    <ul>
                        <li>〇　/server</li>
                    </ul>
                    <li>〇</li>
                    <ul>
                        <li>〇　["python3","app.py"]</li>
                    </ul>
                </ol>
            </p>


            <br>
            <h2>〇</h2>
            <p>
                <ul>
                    <li>〇
                        <ul>
                            <li>〇</li>
                        </ul>
                    </li>
                    <li>〇</li>
                    <img src="media/docker11.png" alt="docker11.png" style="width: 100%;">
                    <li>〇
                        <img src="media/docker12.png" alt="docker12.png" style="width: 100%;">
                        <ul>
                            <li>〇
                                <ul>
                                    <li>〇</li>
                                    <li>〇</li>
                                    <li>〇（〇）</li>
                                    <img src="media/docker13.png" alt="docker1.png" style="width: 100%;">
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>〇</li>
                    <img src="media/docker14.png" alt="docker14.png" style="width: 100%;">
                </ul>           
            </p>

            <br>
            <h2>〇</h2>
            <p>
                <ul>
                    <li>〇
                        <ul>
                            <li>〇</li>
                            <li>〇</li>
                            <li>〇</li>
                        </ul>
                    </li>
                    <li>〇
                        <ul>
                            <li>〇</li>
                            <li>〇</li>
                        </ul>
                    </li>
                    <li>〇
                        <ul>
                            <li>〇</li>
                            <li>〇</li>
                        </ul>
                    </li>
                </ul>                
            </p>

            <br>
            <h2>〇</h2>
            <p>
                <ul>
                    <li>〇
                        <ul>
                            <li>〇</li>
                        </ul>
                    </li>
                    <li>〇</li>
                </ul>
                <img src="media/docker15.png" alt="docker1.png" style="width: 100%;">
            </p>
        </div>
    </div>
</div>


    <div class="aboutline">
        <hr>
    </div>
</div>

<footer>
    <p>2024 Yusuke Shimizu Portfolio</p>
</footer>

<!--     jQuery     -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="static/slick/slick.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('.loveimg').slick({
            autoplay: true,
            autoplaySpeed: 3000,
            swipe: true,
            pauseOnHover: false,
            pauseOnFocus: false,
            pauseOnDotsHover: false,
        });
    });

    $(function(){
        $(window).on('load',function(){
            $('.loader').delay(500).fadeOut(500);
            $('.loader-bg').delay(800).fadeOut(700);
        });
        setTimeout(function(){
            $('.loader-bg').fadeOut(500);
        },5000);
    });
    </script>

<script src="static/JS/portfolio.js" async></script>

</body>
</html>
