<!DOCTYPE html> 
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>portfolio</title>
    <link rel="manifest" href="static/manifest/manifest.webmanifest" />
    <link rel="apple-touch-icon" sizes="180x180" href="media/icon-192x192.png">
    <link rel="stylesheet" href="static/CSS/portfolio.css">
    <link rel="stylesheet" href="static/slick/slick.css">
    <link rel="stylesheet" href="static/slick/slick-theme.css">
    <script>
        window.addEventListener('load', function () {
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register("static/JS/sw.js")
                    .then(function (registration) {
                        console.log("serviceWorker registed.");
                    }).catch(function (error) {
                        console.warn("serviceWorker error.", error);
                    });
            }
        });
    </script>
</head>
<body>
    <div class="loader-bg">
        <div class="loader"></div>
    </div>
    <header id="home">
        <h1><a id="link" href="javascript:void(0);" onclick="scrollToTop();"><strong>Portfolio</strong></a></h1>
        
        <!--　　　　　ページ内遷移メニュー　　　　　-->
        <nav class="navbar">
            <ul>
                <li><a id="link_home" href="{{ url_for('portfolio') }}" onclick="scrollToTop();">Home</a></li>
                <li><a id="link_about" href="javascript:void(0);" onclick="ScrollWindow('about');">About</a></li>
                <li><a id="link_service" href="javascript:void(0);" onclick="ScrollWindow('service');">Service</a></li>
                <li><a id="link_skills" href="javascript:void(0);" onclick="ScrollWindow('skills');">Skills</a></li>
            </ul>
        </nav>  
        
        <div class="hamburger"> <!--  モバイルnone  -->
            <div class="btn">
                <i></i>
                <i></i>
                <i></i>
            </div>  
            <div class="block">
                <div class="list">
                    <h1><a class="link_top" id="link_top" href="javascript:void(0);" onclick="scrollToTop();"><strong>Portfolio</strong></a></h1>
                    <h2>Menu</h2>
                    <ul>
                        <li><h5><a class="link_home" id="link_home" href="javascript:void(0);" onclick="scrollToTop();"><img src="media/IMG_home.png" alt=""> Home</a></h5></li>
                        <li style="padding-left: 0;"><hr></li>
                        <li><h5><a class="link_about" id="link_about" href="javascript:void(0);" onclick="ScrollWindow('about');"><img src="media/IMG_profile.png" alt=""> About</a></h5></li>
                        <li style="padding-left: 0;"><hr></li>
                        <li><h5><a class="link_service" id="link_service" href="javascript:void(0);" onclick="ScrollWindow('service');"><img src="media/IMG_service.png" alt=""> Service</a></h5></li>
                        <li style="padding-left: 0;"><hr></li>
                        <li><h5><a class="link_skills" id="link_skills" href="javascript:void(0);" onclick="ScrollWindow('skills');"><img src="media/IMG_skills.png" alt=""> Skills</a></h5></li>
                        <li style="padding-left: 0;"><hr></li>
                    </ul>
                </div>
            </div>   
        </div>
    </header>

    <img class="top" src="media/IMG_6171.jpg" alt="" style="width: 100%;">


<!--　　　　　Docker勉強会　　　　　-->
<h2 class="subtitle" id="service">Service</h2>

<div class="service">
    <div class="topic">
        <div class="detail">
            <h2>Docker勉強会</h2>
            <p>Dockerはエンジニアを志望している学生としては知っておくべき技術であるため、研究室内の学生を対象にHandsonを含めた講習を行いました。研究室内では自身の研究とは別にWebアプリ開発をする学生が多いです。その開発の中でそれぞれのPC環境を統一することは規模が大きくなるにつれて困難になります。今後社会人になることも踏まえてDockerを習得することで利点をより感じてもらえると思いました！</p>
            <br>

            <h2>Githubリポジトリ</h2>
            <br>
            <h2>開催背景</h2>
            <p>Dockerはエンジニアを志望している学生としては知っておくべき技術であるため研究室内の学生を対象にHandsonを含めた講習を行いました．
                研究室内では自身の研究とは別にWebアプリ開発をする学生が多いです．その開発の中でそれぞれのPC環境を統一することは人数が多い場合は何とかなりそうですが規模が大きくなるにつれて困難になります．
                今後社会人になることも踏まえてDockerを習得することで利点をより感じてもらえると思いました！
                （学校からお金がもらえるのも開催背景にあります笑）</p>
            <br>
            <h2>Dockerとは？</h2>
            <p>コンテナ型仮想化により仮想環境を構築するソフトウェアのことです．
                情報系なら知っておいた方が有利な技術です．Dockerは業務で使用するイメージがあると思いますが研究やハッカソン，プロジェクトでも使用することができるためとても重宝されています．
                Dockerの特徴としては以下の3点が挙げられます．


                <ul>
                    <li>超軽量</li>
                    <li>環境構築と実行にかかる時間が短い．</li>
                    <li>負荷が小さく高速に動作する</li>
                    <li>独立した実行環境</li>
                    <li>ファイルシステム，ネットワークなどがコンテナ間・ホストOS間で分離</li>
                    <li>一つのホストOSの上に多面な実行環境を構築可能</li>
                    <li>少ないリソース消費</li>
                    <li>同一OSのコンテナを複数起動すると，OSイメージは読み込み専用で共有される</li>
                    <li>コンテナの差分のみディスク上に保持される</li>
                </ul>
            </p>

            <br>
            <h2>Dockerとは？</h2>
            <p></p>

            <br>
            <h2>Dockerとは？</h2>
            <p></p>

            <br>
            <h2>Dockerとは？</h2>
            <p></p>

            <br>
            <h2>Dockerとは？</h2>
            <p></p>

            <br>
            <h2>Dockerとは？</h2>
            <p></p>

            <br>
            <h2>Dockerとは？</h2>
            <p></p>

            <br>
            <h2>Dockerとは？</h2>
            <p></p>
            
        </div>
    </div>
</div>


    <div class="aboutline">
        <hr>
    </div>
</div>

<footer>
    <p>2024 Yusuke Shimizu Portfolio</p>
</footer>

<!--     jQuery     -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="static/slick/slick.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('.loveimg').slick({
            autoplay: true,
            autoplaySpeed: 3000,
            swipe: true,
            pauseOnHover: false,
            pauseOnFocus: false,
            pauseOnDotsHover: false,
        });
    });

    $(function(){
        $(window).on('load',function(){
            $('.loader').delay(500).fadeOut(500);
            $('.loader-bg').delay(800).fadeOut(700);
        });
        setTimeout(function(){
            $('.loader-bg').fadeOut(500);
        },5000);
    });
    </script>

<script src="static/JS/portfolio.js" async></script>

</body>
</html>