<!DOCTYPE html> 
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>portfolio</title>
    <link rel="manifest" href="static/manifest/manifest.webmanifest" />
    <link rel="apple-touch-icon" sizes="180x180" href="media/icon-192x192.png">
    <link rel="stylesheet" href="static/CSS/portfolio.css">
    <link rel="stylesheet" href="static/slick/slick.css">
    <link rel="stylesheet" href="static/slick/slick-theme.css">
    <script>
        window.addEventListener('load', function () {
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register("static/JS/sw.js")
                    .then(function (registration) {
                        console.log("serviceWorker registed.");
                    }).catch(function (error) {
                        console.warn("serviceWorker error.", error);
                    });
            }
        });
    </script>
</head>
<body>
    <div class="loader-bg">
        <div class="loader"></div>
    </div>
    <header id="home">
        <h1><a id="link" href="javascript:void(0);" onclick="scrollToTop();"><strong>Portfolio</strong></a></h1>
        
        <!--　　　　　ページ内遷移メニュー　　　　　-->
        <nav class="navbar">
            <ul>
                <li><a id="link_home" href="javascript:void(0);" onclick="scrollToTop();">Home</a></li>
                <li><a id="link_about" href="javascript:void(0);" onclick="ScrollWindow('about');">About</a></li>
                <li><a id="link_service" href="javascript:void(0);" onclick="ScrollWindow('service');">Works</a></li>
                <li><a id="link_skills" href="javascript:void(0);" onclick="ScrollWindow('skills');">Skills</a></li>
            </ul>
        </nav>  
        
        <div class="hamburger"> <!--  モバイルnone  -->
            <div class="btn">
                <i></i>
                <i></i>
                <i></i>
            </div>  
            <div class="block">
                <div class="list">
                    <h1><a class="link_top" id="link_top" href="javascript:void(0);" onclick="scrollToTop();"><strong>Portfolio</strong></a></h1>
                    <h2>Menu</h2>
                    <ul>
                        <li><h5><a class="link_home" id="link_home" href="javascript:void(0);" onclick="scrollToTop();"><img src="media/IMG_home.png" alt=""> Home</a></h5></li>
                        <li style="padding-left: 0;"><hr></li>
                        <li><h5><a class="link_about" id="link_about" href="javascript:void(0);" onclick="ScrollWindow('about');"><img src="media/IMG_profile.png" alt=""> Works</a></h5></li>
                        <li style="padding-left: 0;"><hr></li>
                        <li><h5><a class="link_service" id="link_service" href="javascript:void(0);" onclick="ScrollWindow('service');"><img src="media/IMG_service.png" alt=""> Service</a></h5></li>
                        <li style="padding-left: 0;"><hr></li>
                        <li><h5><a class="link_skills" id="link_skills" href="javascript:void(0);" onclick="ScrollWindow('skills');"><img src="media/IMG_skills.png" alt=""> Skills</a></h5></li>
                        <li style="padding-left: 0;"><hr></li>
                    </ul>
                </div>
            </div>   
        </div>
    </header>

    <img class="top" src="media/IMG_6171.jpg" alt="" style="width: 100%;">

<!--　　　　　自己紹介　　　　　-->
<h2 class="subtitle" id="about">About</h2>
<div class="about">
    <div class="about-s">
        <div class="aboutpic">
            <img src="media/amerika3.png" alt="">
        </div>     
        <div class="myname">
            <h2 class="topname">Yusuke Shimizu / 清水　雄介</h2>
            <p>大阪府在住の22歳。大学院でAIレコメンドシステムについて研究しています。
                トビタテ留学ジャパン日本代表プログラムでカナダのトロント大学へ留学後、
                ITに興味が湧き、現在の専攻に至ります。
                研究室内での勉強会開催やハッカソン出場など、日々スキルアップを図っています。</p>
            <h3>●経歴</h3>
            <ul>
                <li>芝浦工業大学主催ロボット競技大会　大阪大会優勝→全国大会出場</li>
                <li>ワガヤネヤガワベンチャービジネスコンテスト　審査員特別賞受賞</li>
                <li>トビタテ留学ジャパン日本代表プログラムに合格→カナダのトロント大学へ半年間奨学金留学</li>
                <li>Doshisha Go Global Passport　授与（グローバルな視点で活躍する為に必要な基礎知識、外国語能力、実践力が一定の基準を満たしたと認められた学生にのみ同志社大学が発行している証書）</li>
                <li>同志社大学大学院奨学金 授与（学業成績と英語資格試験の得点を鑑みた成績上位者対象の給付型奨学金）</li>
            </ul>
            
            <div class="detail_btn">
                <h3>私の経歴を詳しく書きました！⇒</h3>
                <a href="{{ url_for('torikumi') }}">Read More !</a>
            </div>

            <h3>●資格</h3>
            <ul>
                <li>TOEIC 855</li>
                <li>英検準一級</li>
                <li>ケンブリッジ英語検定 Linguaskill Speaking：B2</li>
                <li>GTEC Business（4技能：LRWS）：581</li>
                <li>AWS CCP</li>
                <li>基本情報技術者(1年生時に取得)</li>
                <li>数検2級</li>
            </ul>
            
                現在は応用情報技術者を勉強中です。<br>
                <br>
            <hr>
            <p><a href="https://github.com/isdlyusukeshimizu"><b>GitHub</b></a> / <a href="https://qiita.com/isdlyusukeshimizu" ><b>Qiita</b></a></p>         
        </div>
    </div>


    <!--　　　　　写真3枚　　　　　-->
    <div class="underpic">
        <div class="love">
            <div class="lovepic">
                <h2>Travel</h2>
                <div class="loveimg">
                    <div>   
                        <img src="media/IMG_iba.JPG" alt="">
                        <p>国営ひたち海浜公園</p>
                    </div>
                    <div>
                        <img src="media/IMG_nobo.JPG" alt="">
                        <p>登別温泉</p>
                    </div>
                    <div>
                        <img src="media/IMG_gin.JPG" alt="">
                        <p>銀山温泉</p>
                    </div>
                </div>
                <p>とにかく旅行が好きで、国内の温泉や有名な観光地によく訪れます。</p>
            </div>
        </div>
        <div class="love-s">
            <div class="lovepic">
                <h2>Transportation</h2>
                <div class="loveimg">
                    <div>
                        <img src="media/IMG_hiko.JPG" alt="">
                        <p>飛行機</p>
                    </div>
                    <div>
                        <img src="media/IMG_den.JPG" alt="">
                        <p>特急</p>
                    </div>
                    <div>
                        <img src="media/IMG_fu.JPG" alt="">
                        <p>フェリー</p>
                    </div>
                </div>
                <p>飛行機や電車に乗って満喫したり、車を運転して遠出することも多いです。</p>
            </div>
        </div>
        <div class="love">
            <div class="lovepic">
                <h2>Game</h2>
                <div class="loveimg">
                    <div>
                        <img src="media/IMG_tsu.JPG" alt="">
                        <p>ゲーム部屋</p>
                    </div>
                    <div>
                        <img src="media/IMG_ku.JPG" alt="">
                        <p>ライトアップ</p>
                    </div>
                    <div>
                        <img src="media/IMG_e.JPG" alt="">
                        <p>ゲーム部屋</p>
                    </div>
                </div>
                <p>休日は、ゲーミングPCやSwitchなどでよくゲームをしています。</p>
            </div>
        </div>
    </div>
    <div class="aboutline">
        <hr>
    </div>
</div>

<!--　　　　　サービス　　　　　-->
<h2 class="subtitle" id="service">Works</h2>

<div class="service">
    <div class="topic">
        <div class="servicepic">
            <img src="media/S__14581797.jpg" alt="">
        </div>
        <div class="detail">
            <h2>Docker勉強会
            </h2>
            <p>Dockerはエンジニアを志望している学生として知っておくべき技術であるため、研究室内の学生を対象に、Handsonを含めた20人規模の講習を行いました。研究室内では自身の研究とは別にWebアプリ開発をする学生が多いです。その開発の中でそれぞれのPC環境を統一することは規模が大きくなるにつれて困難になります。今後社会人になることも踏まえてDockerを習得することで利点をより感じてもらえると思いました！</p>
            <br>
            <p>・<b>Frontend :</b> HTML , CSS , JavaScript(node.js)</p>
            <p>・<b>Backend :</b> Python(Flask) , MySQL(SQLite)</p>
            <p>・<b>Container :</b> Docker</p>
        </div>
    </div>
    
    <!--　　　　　クリックヒア！　　　　　-->
    <div class="detail_btn">
        <h3>Docker勉強会 : </h3>
        <a href="{{ url_for('docker_lec') }}">Read More !</a>
    </div>
    <hr class="topicline">
    <br>

    <div class="topic">
        <div class="servicepic-s">
            <img src="media/IMG_6185.jpg" alt="">
        </div>
        <div class="detail">
            <h2>Portfolio</h2>
            <p>このポートフォリオは、Python , Flaskで開発されています。AWS , EC2へデプロイをしました。その後Route 53でドメインを取得し、固定IPと紐づけた上でSSL化を行いました。デプロイ時のアーキテクチャ図は下記「Read More！」に載せました。</p>
            <br>
            <p>・<b>Frontend :</b> HTML , CSS , Node.js , jQuery</p>
            <p>・<b>Backend :</b>  Python , Flask , SQLite</p>
            <p>・<b>Server :</b> AWS , EC2 , Route 53 , mod_wsgi </p>
        </div>
    </div>

    <!--　　　　　クリックヒア！　　　　　-->
    <div class="detail_btn">
        <h3>Portfolio : </h3>
        <a href="{{ url_for('make_portfolio') }}">Read More !</a>
    </div>

    <br>

    <div class="serviceline">
        <hr>
    </div>
</div>

<!--　　　　　スキル　　　　　-->
<h2 class="subtitle" id="skills">Skills</h2>
<div class="skills">
    <div class="skill">
        <h2>Frontend</h2>
        <img src="media/IMG_6258.jpg" alt="" width="57%">
        <p>・<b>HTML & CSS :</b> Webアプリのコーディング , レスポンシブデザイン</p>
        <p>・<b>JavaScript :</b> Webアプリ開発</p>
        <p>・<b>Django :</b> Webサイトの作成</p>
        <p>・<b>jQuery :</b> Portfolioに導入</p>
    </div>
    <div class="skill">
        <h2>Backend</h2>
        <img src="media/IMG_30.jpg" alt="" width="91.7%">
        <p>・<b>PHP , MySQL :</b> 大学の講義で使用</p>
        <p>・<b>Python :</b> Webスクレイピング , 画像認識 , データ分析 , 研究</p>
        <p>・<b>Java , SpringBoot :</b> 大学の講義で使用</p>
        <p>・<b>AWS :</b> Portfolioのデプロイ</p>
        <p>・<b>R :</b> 大学の講義で使用</p>
    </div>
    <div class="skill">
        <h2>Tools</h2>
        <img src="media/IMG_6176.png" alt="" width="81.5%">
        <p>・<b>VSCode :</b> Webアプリ開発</p>
        <p>・<b>Git , GitHub :</b> ソースコードの管理</p>
        <p>・<b>Linux :</b> RaspberryPi4にUbuntu環境構築</p>
        <p>・<b>Eclips :</b> SpringBootの開発</p>
        <p>・<b>WordPress :</b> ブログの作成</p>
    </div>
    <div class="skill">
        <h2>Others</h2>
        <img src="media/axx.JPEG" alt="" width="47%">
        <p>・<b>Lightroom :</b> RAW現像 , 写真加工</p>
        <p>・<b>Photoshop :</b> 写真加工 , 合成</p>
        <p>・<b>Premiere Pro :</b> 動画編集</p>
        <p>・<b>Adobe Audition :</b> 音声編集</p>
    </div>
</div>

<footer>
    <p>2024 Yusuke Shimizu Portfolio</p>
</footer>

<!--     jQuery     -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="static/slick/slick.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('.loveimg').slick({
            autoplay: true,
            autoplaySpeed: 3000,
            swipe: true,
            pauseOnHover: false,
            pauseOnFocus: false,
            pauseOnDotsHover: false,
        });
    });

    $(function(){
        $(window).on('load',function(){
            $('.loader').delay(500).fadeOut(500);
            $('.loader-bg').delay(800).fadeOut(700);
        });
        setTimeout(function(){
            $('.loader-bg').fadeOut(500);
        },5000);
    });
    </script>

<script src="static/JS/portfolio.js" async></script>

</body>
</html>
