<!DOCTYPE html> 
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>portfolio</title>
    <link rel="manifest" href="static/manifest/manifest.webmanifest" />
    <link rel="apple-touch-icon" sizes="180x180" href="media/icon-192x192.png">
    <link rel="stylesheet" href="static/CSS/portfolio.css">
    <link rel="stylesheet" href="static/slick/slick.css">
    <link rel="stylesheet" href="static/slick/slick-theme.css">
    <script>
        window.addEventListener('load', function () {
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register("static/JS/sw.js")
                    .then(function (registration) {
                        console.log("serviceWorker registed.");
                    }).catch(function (error) {
                        console.warn("serviceWorker error.", error);
                    });
            }
        });
    </script>
</head>
<body>
    <div class="loader-bg">
        <div class="loader"></div>
    </div>
    <header id="home">
        <h1><a id="link" href="javascript:void(0);" onclick="scrollToTop();"><strong>Portfolio</strong></a></h1>
        
        <!--　　　　　〇　　　　　-->
        <nav class="navbar">
            <ul>
                <li><a id="link_home" href="javascript:void(0);" onclick="scrollToTop();">Home</a></li>
                <li><a id="link_about" href="javascript:void(0);" onclick="ScrollWindow('about');">About</a></li>
                <li><a id="link_service" href="javascript:void(0);" onclick="ScrollWindow('service');">Works</a></li>
                <li><a id="link_skills" href="javascript:void(0);" onclick="ScrollWindow('skills');">Skills</a></li>
            </ul>
        </nav>  
        
        <div class="hamburger"> <!--  〇  -->
            <div class="btn">
                <i></i>
                <i></i>
                <i></i>
            </div>  
            <div class="block">
                <div class="list">
                    <h1><a class="link_top" id="link_top" href="javascript:void(0);" onclick="scrollToTop();"><strong>Portfolio</strong></a></h1>
                    <h2>Menu</h2>
                    <ul>
                        <li><h5><a class="link_home" id="link_home" href="javascript:void(0);" onclick="scrollToTop();"><img src="media/IMG_home.png" alt=""> Home</a></h5></li>
                        <li style="padding-left: 0;"><hr></li>
                        <li><h5><a class="link_about" id="link_about" href="javascript:void(0);" onclick="ScrollWindow('about');"><img src="media/IMG_profile.png" alt=""> Works</a></h5></li>
                        <li style="padding-left: 0;"><hr></li>
                        <li><h5><a class="link_service" id="link_service" href="javascript:void(0);" onclick="ScrollWindow('service');"><img src="media/IMG_service.png" alt=""> Service</a></h5></li>
                        <li style="padding-left: 0;"><hr></li>
                        <li><h5><a class="link_skills" id="link_skills" href="javascript:void(0);" onclick="ScrollWindow('skills');"><img src="media/IMG_skills.png" alt=""> Skills</a></h5></li>
                        <li style="padding-left: 0;"><hr></li>
                    </ul>
                </div>
            </div>   
        </div>
    </header>

    <img class="top" src="media/IMG_6171.jpg" alt="" style="width: 100%;">

<!--　　　　　〇　　　　　-->
<h2 class="subtitle" id="about">About</h2>
<div class="about">
    <div class="about-s">
        <div class="aboutpic">
            <img src="media/amerika3.png" alt="">
        </div>     
        <div class="myname">
            <h2 class="topname">Yusuke Shimizu / 〇</h2>
            <p>〇。〇。〇、〇、〇。
                〇、〇、
                ITに興味が湧き、現在の専攻に至ります。
                〇や〇など、〇。</p>
            <h3>●〇</h3>
            <ul>
                <li>〇→〇</li>
                <li>〇　〇</li>
                <li>〇→〇</li>
                <li>〇（〇、〇、〇）</li>
                <li>〇（〇）</li>
            </ul>
            
            <div class="detail_btn">
                <h3>〇⇒</h3>
                <a href="{{ url_for('torikumi') }}">Read More !</a>
            </div>

            <h3>●〇</h3>
            <ul>
                <li>TOEIC 855</li>
                <li>英検準一級</li>
                <li>ケンブリッジ英語検定 Linguaskill Speaking：B2</li>
                <li>GTEC Business（4技能：LRWS）：581</li>
                <li>AWS CCP</li>
                <li>基本情報技術者(1年生時に取得)</li>
                <li>数検2級</li>
            </ul>
            
                〇。<br>
                <br>
            <hr>
            <p><a href="https://github.com/isdlyusukeshimizu"><b>GitHub</b></a> / <a href="https://qiita.com/isdlyusukeshimizu" ><b>Qiita</b></a></p>         
        </div>
    </div>


    <!--　　　　　〇　　　　　-->
    <div class="underpic">
        <div class="love">
            <div class="lovepic">
                <h2>Travel</h2>
                <div class="loveimg">
                    <div>   
                        <img src="media/IMG_iba.JPG" alt="">
                        <p>〇</p>
                    </div>
                    <div>
                        <img src="media/IMG_nobo.JPG" alt="">
                        <p>〇</p>
                    </div>
                    <div>
                        <img src="media/IMG_gin.JPG" alt="">
                        <p>〇</p>
                    </div>
                </div>
                <p>〇、〇。</p>
            </div>
        </div>
        <div class="love-s">
            <div class="lovepic">
                <h2>Transportation</h2>
                <div class="loveimg">
                    <div>
                        <img src="media/IMG_hiko.JPG" alt="">
                        <p>〇</p>
                    </div>
                    <div>
                        <img src="media/IMG_den.JPG" alt="">
                        <p>〇</p>
                    </div>
                    <div>
                        <img src="media/IMG_fu.JPG" alt="">
                        <p>〇</p>
                    </div>
                </div>
                <p>〇、〇。</p>
            </div>
        </div>
        <div class="love">
            <div class="lovepic">
                <h2>Game</h2>
                <div class="loveimg">
                    <div>
                        <img src="media/IMG_tsu.JPG" alt="">
                        <p>〇</p>
                    </div>
                    <div>
                        <img src="media/IMG_ku.JPG" alt="">
                        <p>〇</p>
                    </div>
                    <div>
                        <img src="media/IMG_e.JPG" alt="">
                        <p>〇</p>
                    </div>
                </div>
                <p>〇。</p>
            </div>
        </div>
    </div>
    <div class="aboutline">
        <hr>
    </div>
</div>

<!--　　　　　〇　　　　　-->
<h2 class="subtitle" id="service">Works</h2>

<div class="service">
    <div class="topic">
        <div class="servicepic">
            <img src="media/S__14581797.jpg" alt="">
        </div>
        <div class="detail">
            <h2>Docker〇
            </h2>
            <p>Docker〇、〇。〇、〇。〇、〇。
            〇、〇、〇。
            〇！</p>
            <br>
            <p>・<b>Frontend :</b> HTML , CSS , JavaScript(node.js)</p>
            <p>・<b>Backend :</b> Python(Flask) , MySQL(SQLite)</p>
            <p>・<b>Container :</b> Docker</p>
        </div>
    </div>
    
    <!--　　　　　〇　　　　　-->
    <div class="detail_btn">
        <h3>Docker〇 : </h3>
        <a href="{{ url_for('docker_lec') }}">Read More !</a>
    </div>
    <hr class="topicline">
    <br>

    <div class="topic">
        <div class="servicepic-s">
            <img src="media/IMG_6185.jpg" alt="">
        </div>
        <div class="detail">
            <h2>Portfolio</h2>
            <p>〇、Python , Flask〇。AWS , EC2〇。Route 53〇、〇、SSL〇。「Read More！」〇。</p>
            <br>
            <p>・<b>Frontend :</b> HTML , CSS , Node.js , jQuery</p>
            <p>・<b>Backend :</b>  Python , Flask , SQLite</p>
            <p>・<b>Server :</b> AWS , EC2 , Route 53 , mod_wsgi </p>
        </div>
    </div>

    <!--　　　　　〇　　　　　-->
    <div class="detail_btn">
        <h3>Portfolio : </h3>
        <a href="{{ url_for('make_portfolio') }}">Read More !</a>
    </div>

    <br>

    <div class="serviceline">
        <hr>
    </div>
</div>

<!--　　　　　〇　　　　　-->
<h2 class="subtitle" id="skills">Skills</h2>
<div class="skills">
    <div class="skill">
        <h2>Frontend</h2>
        <img src="media/IMG_6258.jpg" alt="" width="57%">
        <p>・<b>HTML & CSS :</b> 〇 , 〇</p>
        <p>・<b>JavaScript :</b> 〇</p>
        <p>・<b>Django :</b> 〇</p>
        <p>・<b>jQuery :</b> Portfolio〇</p>
    </div>
    <div class="skill">
        <h2>Backend</h2>
        <img src="media/IMG_30.jpg" alt="" width="91.7%">
        <p>・<b>PHP , MySQL :</b> 〇</p>
        <p>・<b>Python :</b> 〇 , 〇 , 〇 , 〇</p>
        <p>・<b>Java , SpringBoot :</b> 〇</p>
        <p>・<b>AWS :</b> Portfolio〇</p>
        <p>・<b>R :</b> 〇</p>
    </div>
    <div class="skill">
        <h2>Tools</h2>
        <img src="media/IMG_6176.png" alt="" width="81.5%">
        <p>・<b>VSCode :</b> 〇</p>
        <p>・<b>Git , GitHub :</b> 〇</p>
        <p>・<b>Linux :</b> RaspberryPi4〇</p>
        <p>・<b>Eclips :</b> SpringBoot〇</p>
        <p>・<b>WordPress :</b> 〇</p>
    </div>
    <div class="skill">
        <h2>Others</h2>
        <img src="media/axx.JPEG" alt="" width="47%">
        <p>・<b>Lightroom :</b> 〇 , 〇</p>
        <p>・<b>Photoshop :</b> 〇 , 〇</p>
        <p>・<b>Premiere Pro :</b> 〇</p>
        <p>・<b>Adobe Audition :</b> 〇</p>
    </div>
</div>

<footer>
    <p>2024 Yusuke Shimizu Portfolio</p>
</footer>

<!--     jQuery     -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="static/slick/slick.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('.loveimg').slick({
            autoplay: true,
            autoplaySpeed: 3000,
            swipe: true,
            pauseOnHover: false,
            pauseOnFocus: false,
            pauseOnDotsHover: false,
        });
    });

    $(function(){
        $(window).on('load',function(){
            $('.loader').delay(500).fadeOut(500);
            $('.loader-bg').delay(800).fadeOut(700);
        });
        setTimeout(function(){
            $('.loader-bg').fadeOut(500);
        },5000);
    });
    </script>

<script src="static/JS/portfolio.js" async></script>

</body>
</html>
