<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <link rel="stylesheet" href="static/CSS/style.css">
  <link rel="manifest" href="static/manifest/manifest.webmanifest" />
  <link rel="stylesheet" href="static/CSS/torikumi.css"> 〇
  <link rel="stylesheet" href="static/slick/slick.css">
  <link rel="stylesheet" href="static/slick/slick-theme.css">
  <title>〇</title>
  <script>
    window.addEventListener('load', function () {
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("static/JS/sw.js")
                .then(function (registration) {
                    console.log("serviceWorker registed.");
                }).catch(function (error) {
                    console.warn("serviceWorker error.", error);
                });
        }
    });
    document.getElementsByTagName("html")[0].className += " js";
</script>
</head>
<body>

  <div class="loader-bg">
    <div class="loader"></div>
  </div>
  <header id="home">
    <h1><a id="link" href="{{ url_for('portfolio') }}" onclick="scrollToTop();"><strong>Portfolio</strong></a></h1>
    
    <!--　　　　　〇　　　　　-->
    <nav class="navbar">
        <ul>
            
        </ul>
    </nav>  
    
    <div class="hamburger"> <!--  〇  -->
        <div class="btn">
            <i></i>
            <i></i>
            <i></i>
        </div>  
        <div class="block">
            <div class="list">
                <h1><a class="link_top" id="link_top" href="{{ url_for('portfolio') }}" onclick="scrollToTop();"><strong>Portfolio</strong></a></h1>
            </div>
        </div>   
    </div>
  </header>

  <img class="top" src="media/IMG_6171.jpg" alt="" style="width: 100%;">




  <section class="cd-timeline js-cd-timeline">
    <div class="container max-width-lg cd-timeline__container">
      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--picture">
          <img src="media/cd-icon-picture.svg" alt="Picture">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>〇</h2>
          <p class="color-contrast-medium">
            〇。
            〇。
            〇。
            〇。
            〇。
            〇。
          </p>

          <div class="flex justify-between items-center">
            <!-- <a href="#0" class="btn btn--subtle">Read more</a> -->
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--picture">
          <img src="media/cd-icon-picture.svg" alt="Picture">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>〇</h2>
          <p class="color-contrast-medium">〇。〇〇〇、〇〇〇〇〇。〇〇〇〇〇〇〇、〇〇〇〇〇〇〇〇〇〇〇。<img src="media/venture_contest.jpg" alt="〇"></p>

          <div class="flex justify-between items-center">
            <!-- <a href="#0" class="btn btn--subtle">Read more</a> -->
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->


      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--movie">
          <img src="media/cd-icon-movie.svg" alt="Movie">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>〇</h2>
          <p class="color-contrast-medium">
            〇。
            〇。
            〇。

            <br><br>〇。
            〇。
            〇。
            〇。
            〇。
            〇。
            〇。
            〇。
            〇。
            〇。
            〇。
            〇。
            〇。
            〇。
            〇。
            〇。
            〇。 
          </p>
          
          <div class="flex justify-between items-center">
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--movie">
          <img src="media/cd-icon-movie.svg" alt="Movie">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>〇</h2>
          <p class="color-contrast-medium">
            〇。
            〇。
            〇。
            〇。
            〇。
            〇。
            〇。

            <br><br>〇、
            〇〇〇〇〇〇。
            〇〇〇〇〇〇。
            〇〇〇〇〇〇。
            〇〇〇〇〇。
            〇〇〇〇〇〇〇〇。
            <img src="/media/S__178880558.jpg" alt="〇"></p>
          
          <div class="flex justify-between items-center">
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--location">
          <img src="media/cd-icon-location.svg" alt="Location">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>〇</h2>
          <p class="color-contrast-medium">
            〇。 
 
            <br><br>〇、
            〇。
            〇。
            〇。
            〇。

            <br><br>〇、
            〇。
            〇。
            〇。
            〇。
            〇。

            <br><br>〇。</p>

          <div class="flex justify-between items-center">
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--location">
          <img src="media/cd-icon-location.svg" alt="Location">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>〇</h2>
          <p class="color-contrast-medium">
            〇。
            〇、
            〇〇〇〇。
            〇。
            〇。
            <br><br>
            〇、
            〇。
            〇。
            〇。
            〇。

            〇。
            〇。
            〇。
            〇。
            〇。
            〇。
            〇。
            〇。
            〇。
            〇。

            <br><br>
            〇。
            〇。
            〇。</p>
	  <img src="/media/gcijpg.jpg" alt="〇"></p>


          <div class="flex justify-between items-center">
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

    </div>
  </section> <!-- cd-timeline -->

  
<footer>
  <p>2024 Yusuke Shimizu Portfolio</p>
</footer>

  <script src="static/JS/main.js"></script>

<!--     jQuery     -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="static/slick/slick.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('.loveimg').slick({
            autoplay: true,
            autoplaySpeed: 3000,
            swipe: true,
            pauseOnHover: false,
            pauseOnFocus: false,
            pauseOnDotsHover: false,
        });
    });

    $(function(){
        $(window).on('load',function(){
            $('.loader').delay(500).fadeOut(500);
            $('.loader-bg').delay(800).fadeOut(700);
        });
        setTimeout(function(){
            $('.loader-bg').fadeOut(500);
        },5000);
    });
    </script>

<script src="static/JS/portfolio.js" async></script>

</body>
</html>
