<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <link rel="stylesheet" href="static/CSS/style.css">
  <link rel="manifest" href="static/manifest/manifest.webmanifest" />
  <link rel="stylesheet" href="static/CSS/torikumi.css"> このコードがRead Moreに色を付けている。
  <link rel="stylesheet" href="static/slick/slick.css">
  <link rel="stylesheet" href="static/slick/slick-theme.css">
  <title>私の取り組み</title>
  <script>
    window.addEventListener('load', function () {
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("static/JS/sw.js")
                .then(function (registration) {
                    console.log("serviceWorker registed.");
                }).catch(function (error) {
                    console.warn("serviceWorker error.", error);
                });
        }
    });
    document.getElementsByTagName("html")[0].className += " js";
</script>
</head>
<body>

  <div class="loader-bg">
    <div class="loader"></div>
  </div>
  <header id="home">
    <h1><a id="link" href="{{ url_for('portfolio') }}" onclick="scrollToTop();"><strong>Portfolio</strong></a></h1>
    
    <!--　　　　　ページ内遷移メニュー　　　　　-->
    <nav class="navbar">
        <ul>
            
        </ul>
    </nav>  
    
    <div class="hamburger"> <!--  モバイルnone  -->
        <div class="btn">
            <i></i>
            <i></i>
            <i></i>
        </div>  
        <div class="block">
            <div class="list">
                <h1><a class="link_top" id="link_top" href="{{ url_for('portfolio') }}" onclick="scrollToTop();"><strong>Portfolio</strong></a></h1>
            </div>
        </div>   
    </div>
  </header>

  <img class="top" src="media/IMG_6171.jpg" alt="" style="width: 100%;">




  <section class="cd-timeline js-cd-timeline">
    <div class="container max-width-lg cd-timeline__container">
      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--picture">
          <img src="media/cd-icon-picture.svg" alt="Picture">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>ロボット競技大会全国出場</h2>
          <p class="color-contrast-medium">
            芝浦工業大学主催のロボット競技大会にて、大阪大会を優勝し全国大会へ出場しました。
            出場者が全員私より年上だったことから、同じようにしても経験の差から負けてしまうと考えました。
            そこで周りが攻撃型のロボットを作る中、自分だけ防御型のロボットを作り、
            ひたすら守る戦略を貫きました。守り抜いた後、カウンターをくらわす戦略が成功しました。
            差別化が大切だと学ぶとともに、
            差別化をするためには周りを観察して分析する必要があると気付くことができました。
          </p>

          <div class="flex justify-between items-center">
            <!-- <a href="#0" class="btn btn--subtle">Read more</a> -->
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--picture">
          <img src="media/cd-icon-picture.svg" alt="Picture">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>ベンチャービジネスコンテスト審査員特別賞受賞</h2>
          <p class="color-contrast-medium">寝屋川市の経済振興を目指すビジネスプランコンテストに参加しました。私は外国人観光客をターゲットにし、寝屋川市の観光名所である寝屋川八景、古墳、そして成田山不動尊に惹きつける戦略で受賞しました。他の参加者が地元の特産品を活用して寝屋川市民や日本人を対象にしたプランを提案した中、視点の創意工夫が高く評価され、受賞に至ったと伺いました。<img src="media/venture_contest.jpg" alt="ビジコンの写真"></p>

          <div class="flex justify-between items-center">
            <!-- <a href="#0" class="btn btn--subtle">Read more</a> -->
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->


      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--movie">
          <img src="media/cd-icon-movie.svg" alt="Movie">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>テニスを10年間継続</h2>
          <p class="color-contrast-medium">
            中学一年生からテニスを 10 年間続けています。
            近畿大会出場や市内大会でシングルス準優勝経験もあり、
            物事に熱中する力を身に付けました。

            <br><br>私は組織全体を俯瞰しうまく動いていない部分に早く気づくのが得意でした。
            友人が気付かない相手チームの事情に気付くことも多くあり、
            試合前にはチームメイトに意見を求められることが度々ありました。
            具体的に心掛けていたことは、貪欲に小さな情報でも取りに行くことです。
            例えば、次に当たる試合の人が発表になったらすぐにその人の試合を見に行き、
            試合相手の癖をつかむなど地道な動きをしていました。
            他にも、練習中のミスはなぜそのミスをしたか自分の中で
            しっかり考えて消化してから次に進むようにしていました。
            それは試合中でも同様に行うようにして、
            今発生しているミスはなぜ起きているのかを考え、同じ失敗を二度としない、
            どんなボールでも返すという粘り強さを持っていたことから『粘りの清水』と
            呼ばれていました。そういった経緯から、
            中学3年生の時からコーチングという役職にて部長・副部長の補佐的なことを行い
            チームの問題を解決する手助けをしてきました。
            また大学に入ってからはサークルの幹部として先輩と後輩が学年の垣根を越え
            コミュニケーションを取れる環境作りに尽力してきました。
            役職間の橋渡しなどを行い皆が円滑に動けるように役割を果たしてきました。 
          </p>
          
          <div class="flex justify-between items-center">
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--movie">
          <img src="media/cd-icon-movie.svg" alt="Movie">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>トビタテ留学ジャパン日本代表プログラムに合格し、トロント大学へ半年間留学</h2>
          <p class="color-contrast-medium">
            文部科学省トビタテ留学ジャパン日本代表プログラムに合格し、
            カナダのトロント大学に奨学金留学をさせていただきました。
            現地の先生方からの指導を受け、学生とも多く交流しました。
            拙い会話力だからこそ相手への好意を態度で積極的に表現することを心掛けました。
            こうした姿勢が相手に伝わり沢山の友達を作ることに繋がったと考えています。
            また、異なるバックグラウンドの方と協力することで、
            相手を尊重する姿勢・不快な思いをさせず自分の考えを伝える力などを
            身に付けることができ、自身の成長を実感できました。
            本留学をきっかけに海外の文化や雰囲気に触れる楽しさを知りました。
            自身の幅を広げることに繋がると感じ、今後さらに語学力を伸ばしていきたいと思いました。 
            
            <br><br>その後、同志社大学の国際系科目を履修したことで、
            同志社大学よりDoshisha Go Global Passportを授与されました。
            私の所属している研究室には、イタリアからの留学生とギリシャ人の教授が在籍しています。
            この環境を最大限生かし、残りの大学生活も英語力を伸ばしていきます。
            <img src="/media/S__178880558.jpg" alt="留学の時の写真"></p>
          
          <div class="flex justify-between items-center">
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--location">
          <img src="media/cd-icon-location.svg" alt="Location">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>塾講師のアルバイト</h2>
          <p class="color-contrast-medium">
            本アルバイトで学んだことは、人のために何かをする尊さです。 
 
            <br><br>私は大学に入学した当初から、
            コロナ禍の影響で約２年間オンライン授業と自粛を求められる生活を送ってきました。
            家計を助ける為に大学入学前からいち早く始めた接客アルバイトは
            研修中のまま２ヶ月間休業となってしまいました。
            塾講師のアルバイトでは対面指導からオンライン指導へと形が変わり、
            大学授業に加えアルバイトまでが自室でパソコンに向かうという状況になりました。
            それでも、自宅に長く過ごすこの機会をチャンスと捉え、
            資格試験の猛勉強に取り組みました。しかし、次々と中止や延期が発表されていきました。 

            <br><br>寂しい状況の中の塾講師のアルバイトでは、
            生徒の指導を上手く出来ず、指導チームに貢献できていないもどかしさや
            自身の実力に対する自信の欠如が続きました。
            生徒指導後のオンラインミーティングでは先輩に付き合ってもらいながら
            生徒の指導練習を自主的に行いました。先輩方のアドバイスを真摯に受け止め、
            改善を繰り返し、次第に自信も芽生え生徒の合格に貢献しました。
            生徒や家族は涙を流して私に感謝を伝え喜んでくれました。支えてくれる人に感謝し、
            相手の為に努力できたことに深い達成感と充実感を覚えました。

            <br><br>私にとって仕事とは、誰かの可能性を広げることにより相手が幸せになり、
            そして相手の幸福に携わることにより自分も幸せになるためにあるのだと学びました。</p>

          <div class="flex justify-between items-center">
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--location">
          <img src="media/cd-icon-location.svg" alt="Location">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>受講生896名、修了率15.4%の他大学のデータ分析講座を修了</h2>
          <p class="color-contrast-medium">
            1年生時に上級生と大学院生に混ざり、受講者896人中、
            修了率15.4%の他大学のデータ分析講座を修了しました。
            講座は半年間の講義とKaggle形式のコンペが3度行われました。
            講義のみでは難しく三段階のアプローチで修了にこぎつけました。
            <br><br>
            一段階目に、専門書で自習し不明点を補おうとしました。
            宿題にさえ苦労しましたが、未知の技術を能動的に学び、
            自分で解釈する達成感を得ることができました。
            二段階目に、過去の修了者を探し、初対面の遥か年上の大学院生の研究室に飛び込みました。
            雑談を糸口に人間関係を構築し、
            「可視化したデータの解釈」と「最適モデルの判断」に関する経験則を傍で学びました。
            知見を共有してもらい感謝するとともに、私も人をサポートできる存在になりたいと考えました。
            三段階目に、教授に経緯と熱意を訴え、指導を依頼しました。
            効率的に質問するため、不明点を整理・細分化し、
            どうしても教授に指導を受けたい強い思いを込めて臨みました。
            悩み過ぎず、状況を整理し、積極的に質問する大切さを学びました。
            <br><br>
            上記三段階の努力で修了率の低い講座をやり抜くことができました。
            この経験により、困難に際し周囲を巻き込み「突破口を見いだす行動力」を得ました。</p>
	  <img src="/media/gcijpg.jpg" alt="GCIの写真"></p>


          <div class="flex justify-between items-center">
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

    </div>
  </section> <!-- cd-timeline -->

  
<footer>
  <p>2024 Yusuke Shimizu Portfolio</p>
</footer>

  <script src="static/JS/main.js"></script>

<!--     jQuery     -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="static/slick/slick.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('.loveimg').slick({
            autoplay: true,
            autoplaySpeed: 3000,
            swipe: true,
            pauseOnHover: false,
            pauseOnFocus: false,
            pauseOnDotsHover: false,
        });
    });

    $(function(){
        $(window).on('load',function(){
            $('.loader').delay(500).fadeOut(500);
            $('.loader-bg').delay(800).fadeOut(700);
        });
        setTimeout(function(){
            $('.loader-bg').fadeOut(500);
        },5000);
    });
    </script>

<script src="static/JS/portfolio.js" async></script>

</body>
</html>
